:root {
  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Ubuntu", sans-serif;
  --primary-color: #ff4c68;
  --secondary-color: #ef8172;
}

body {
  font-family: var(--primary-font-family);
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/******************** Section 1 : Title *****************/
#title {
  background-color: var(--primary-color);
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: var(--secondary-font-family);
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.btn-download {
  font-size: 1.5rem;
  margin: 5% 3% 5% 0;
}

.title-img {
  transform: rotate(20deg);
  position: absolute;
  right: 399px;
  width: 18%;
}

/******************** Section 2 : Features *****************/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.box-features {
  padding: 5%;
}

.icon {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.icon:hover {
  color: var(--primary-color);
}

/******************** Section 3 : Testimonials *****************/
#testimonials {
  background-color: var(--secondary-color);
  color: #fff;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/******************** Section 4 : Press *****************/
#press {
  background-color: var(--secondary-color);
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/******************** Section 5 : Pricing *****************/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* ******************** Section 5 : Pricing ***************** */
#cta {
  text-align: center;
  background-color: var(--secondary-color);
  padding-top: 3%;
}
