:root {
  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Ubuntu", sans-serif;
  --hero-color: #400082;
  /* --primary-color: #ff4c68 ; */
  --primary-color: #400082;
  /* --secondary-color: #ef8172; */
  --secondary-color: #00bdaa;
  --hover-color: #fe346e;
}

.colored-section {
  background-color: var(--primary-color);
  color: white;
}

.white-section {
  background-color: #fff;
  color: black;
}

body {
  font-family: var(--primary-font-family);
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/******************** Section 1 : Title *****************/
#title {
  background-color: var(--hero-color);
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: var(--secondary-font-family);
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.btn-download {
  font-size: 1.5rem;
  margin: 5% 3% 5% 0;
  background: var(--secondary-color);
}
.btn-download:hover {
  background-color: var(--hover-color);
}

.title-img {
  transform: rotate(20deg);
  position: absolute;
  right: 399px;
  width: 18%;
}

/******************** Section 2 : Features *****************/
#features {
  padding: 7% 15%;

  position: relative;
}

.box-features {
  padding: 5%;
}

.icon {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.icon:hover {
  color: var(--hover-color);
}

/******************** Section 3 : Testimonials *****************/
/* #testimonials {
  
} */

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/******************** Section 4 : Press *****************/
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/******************** Section 5 : Pricing *****************/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* ******************** Section 6 : cta ***************** */
#cta {
  text-align: center;
  padding-top: 3%;
}
